.facets li li {display:table!important;border-radius:4px;border:1px solid transparent;cursor:pointer}
.facetNumberTitle>div, .facets li li>* {display:block;float:left;clear:none!important}
.facets li li:hover {background-color:#def}
.facets li li.selected {background-color:#ffe0aa;border-color:#dca}
.facets li li.selected:hover {background-color:#fea;border-color:#dca}

.facetCountSupplyWrapper, .facetCountDemandWrapper {font-weight:bold;text-align:right;width:50px}
.facetNumberTitle .facetCountSupplyWrapper {margin-left:14px}
.facetNumberTitle .facetCountSupplyWrapper, .facetNumberTitle .facetCountDemandWrapper {text-align:right}

.filterCheckboxWrapper {width:113px;padding:0 2px!important}
#facetsSupply .filterCheckboxWrapper, #facetsDemand .filterCheckboxWrapper {width:160px;padding:0 2px!important}
.filterCheckbox {display:none!important}

.facetCountDemand, .facetCountSupply {color:#369;display:inline}
.filterCheckboxWrapper input {display:inline}

#facetsBothHeader, #facetsSupplyHeader, #facetsDemandHeader, #newReportHeader {cursor:pointer;border-radius:5px 5px 0 0}
.facetsBoth {}
.facetsSupply {}
.facetsDemand {}

.filter-content, .searched-for-content {color:#333!important;cursor:pointer;font-size:10px}
.searched-for-content {padding:5px 0!important;}
.headerText {color:#09609a}
#searched-for {margin-bottom:10px}

#controlpanel {position:fixed;top:0;right:0;background-color:rgba(250,250,250,.7);border-radius:7px;font:normal normal 12px/16px arial,sans-serif}
#controlpanel h1 {margin:5px;font:normal normal 12px/16px arial,sans-serif}
#controlpanel ul {padding:0;margin:5px;list-style:none}