.facets li li {display:table!important;border-radius:4px;border:1px solid transparent}
.facets li li>* {display:block;float:left;clear:none!important}
.facets li li:hover {background-color:#ffffcf}
.facets li li.selected {background-color:#ffffcf;border-color:#eeee0f}

.facetCountSupplyWrapper, .facetCountDemandWrapper {width:45px;text-align:right}
.filterCheckboxWrapper {width:86px;padding:0 2px!important}
.filterCheckbox {display:none!important}

.facetCountDemand, .facetCountSupply {color:#b70;display:inline}
.filterCheckboxWrapper input {display:inline}

#facetsBothHeader, #facetsSupplyHeader, #facetsDemandHeader, #newReportHeader {cursor:pointer;border-radius:5px 5px 0 0}
.facetsBoth {}
.facetsSupply {}
.facetsDemand {}

.filter-content label {color:#333!important}
.headerText {color:#09609a}