.facetNav {float:none!important;margin-bottom:10px;width:100%!important}
.facet-ui {width:100%!important}
#facets {overflow:hidden!important;padding:0;margin:1%}
#facets>li {width:32%;float:left;display:block;clear:none}
#facets .headerText {background-color:#fff;border:1px solid #ccc;border-radius:5px 5px 0 0;color:#666;cursor:pointer;padding:5px}
#facets .headerText:hover {background-color:#eee}
#facets>li>div>ul {border-top:0;border-right:1px solid #ccc;border-bottom:1px solid #ccc;border-left:1px solid #ccc;border-radius:0 0 5px 5px;padding:5px!important}

#search-body {overflow:hidden}

/* Top Toolbar */
#toolbar {height:20px}
.tool {float:left}
#newReport {width:200px!important}
#newReport ul {padding:0 5px}
#compensationLink {}
#export {}

/* Header Styles */
#newReportHeader, #exportHeader, #helpHeader, .gradient {background:#eee;border:1px solid #ccc;border-radius:5px 5px 0 0;color:#666;cursor:pointer;font-size:12px;font-weight:bold;padding:6px 10px}
#newReportHeader:hover, #exportHeader:hover, #helpHeader:hover, .gradient:hover {background:#fff;color:#333}
