.facetNav {float:none!important;margin-bottom:10px;width:100%!important}
.facet-ui {width:100%!important}
#facets {overflow:hidden!important;padding:0;margin:1%}
#facets>li {width:32%;float:left;display:block;clear:none}
#facets .headerText {background-color:#fff;border:1px solid #ccc;border-radius:5px 5px 0 0;color:#666;cursor:pointer;padding:5px}
#facets .headerText:hover {background-color:#eee}
#facets>li>div>ul {border-top:0;border-right:1px solid #ccc;border-bottom:1px solid #ccc;border-left:1px solid #ccc;border-radius:0 0 5px 5px;padding:5px!important}

#search-body {overflow:hidden}

/* Top Toolbar */
#toolbar {height:29px;position:relative}
#toolbar>div {height:29px}
#toolbar .content {
    background: none repeat scroll 0 0 white;
    border: 1px solid #CCCCCC;
    box-shadow: 0 5px 5px #666666;
    display: block;
    padding: 5px;
    position: absolute;
	z-index: 9999;
}
#newReport {width:200px!important}
#newReport ul {padding:0 5px}
#compensationLink, #newReport {float:left}
#newReport .content {width: 188px}
#export, #help {float:right}
#export .content, #help .content {right:0}

/* Header Styles */
#compLinkHeader, #newReportHeader, #exportHeader, #helpHeader, .gradient {background:#eee;border:1px solid #ccc;border-radius:5px 5px 0 0;color:#666;cursor:pointer;font-size:12px;font-weight:bold;padding:6px 10px}
#compLinkHeader:hover, #newReportHeader:hover, #exportHeader:hover, #helpHeader:hover, .gradient:hover {background:#fff;color:#333}

#refineSearchHeader {float:left}
#pnlDashBoard {clear:left}
#searched-for .content {background:white;box-shadow:0 5px 5px #000;position:absolute;top:272px;width:1102px}